#btnTop {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: #d40000;
    color: white;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: none; 
    transition: background 0.3s, transform 0.2s;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#btnTop:hover {
    opacity: 0.85;
    transform: translateY(-3px);
}