.custom-repeater-list {
    margin-top: 10px;
    padding: 0;
}

.custom-repeater-item {
    background: #fff;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    display: grid;
    gap: 6px;
    align-items: center;
}

.custom-repeater-item input,
.custom-repeater-item select {
    width: 100%;
}

.drag-handle {
    cursor: move;
    font-size: 20px;
    padding: 5px;
    user-select: none;
}
