/* STICKY HEADER - Versión CSS Moderna (Mejor rendimiento) */
@media (min-width: 769px) {
    .main-header {
        position: sticky; /* Magia nativa */
        top: 0;
        z-index: 99999;
        /* Al ser sticky, no necesitamos 'fixed' ni placeholders */
    }
    
    /* Ajuste para cuando estás logueado en WordPress (Barra negra arriba) */
    .admin-bar .main-header {
        top: 32px;
    }

    @media screen and (max-width: 782px) {
        .admin-bar .main-header {
            top: 46px;
        }
    }
}