/* NAV NORMAL DESKTOP */
.navbar {
    width: 100%;
    margin-top: 18px;
    padding: 0 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 18px;
    justify-content: space-between;
    padding: 0;
    max-width: 1100px;
    margin: 0 auto;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 10px;
    transition: 0.25s;
}

.navbar ul li a:hover {
    color: #122d86;
}
